#ddev-generated
services:
  kibana:
    container_name: ddev-${DDEV_SITENAME}-kibana
    hostname: ${DDEV_SITENAME}-kibana
    image: kibana:7.17.6
    expose:
      - "5601"
    environment:
      ELASTICSEARCH_HOSTS: '["http://ddev-${DDEV_SITENAME}-elasticsearch:9200"]'
      VIRTUAL_HOST: $DDEV_HOSTNAME
      HTTP_EXPOSE: 5600:5601
      HTTPS_EXPOSE: 5601:5601
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: $DDEV_APPROOT
    depends_on:
      - elasticsearch

    healthcheck:
      test: [ "CMD-SHELL", "curl --fail -s localhost:5601" ]
      interval: 60s
      timeout: 30s
      retries: 3
