name: tests ddev-kibana

on:
  pull_request:
  push:
    branches: [ main ]
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+' #semantic version format

  schedule:
    - cron: '00 20 * * 5'
    - cron: '00 07 * * *'

  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Debug with tmate set "debug_enabled"'
        required: false
        default: "false"

defaults:
  run:
    shell: bash

permissions:
  contents: write

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GITHUB_REPOSITORY: "janopl/ddev-kibana"
  TEST_PATH: .
  KEEP_ALIVE: false

jobs:
  tests:
    name: tests
    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        ddev_version: [ stable ] # ddev_version: [stable, edge, HEAD, PR]
        os: [ubuntu-22.04] # os: ubuntu-20.04, ubuntu-22.04, macos-12, macos-11, ubuntu-latest, macos-latest, windows-2019, windows-2022, windows-latest
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: kibana image
        run: |
          docker pull kibana:7.17.14 >/dev/null
          docker pull kibana:8.10.2 >/dev/null

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Environment setup
        run: |
          brew install jq yq

      # - name: Retrieve last tag of add-on
      #   run: |
      #     echo "ADD_ON_LAST_TAG=$(gh api https://api.github.com/repos/JanoPL/ddev-kibana/releases/latest | jq '.tag_name')" >> $GITHUB_ENV

      - uses: ddev/ddev-add-on-test@v1
        with:
          ddev_version: ${{ matrix.ddev_version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          debug_enabled: ${{ github.event.inputs.debug_enabled }}
          addon_repository: ${{ env.GITHUB_REPOSITORY }}
          addon_ref: ${{ env.ADD_ON_LAST_TAG }}
          addon_path: ${{ env.TEST_PATH }}
          keepalive: ${{ env.KEEP_ALIVE }}
          disable_checkout_action: false
